.login-container {
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.login-container input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

.login-container button {
  padding: 10px 15px;
  background-color: #40e0d0; /* Turquoise */
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2bc0be;
  }
}
